<h4> Buscar jugadores</h4>
<hr>
<!-- crear una lista con todas las paginas -->
<ul class="list-group">
    <li routerLink="" routerLinkActive ="active" [routerLinkActiveOptions]="{ exact: true }" class='list-group-item '>RANKING</li>
    <li routerLink="qb" routerLinkActive="active" class='list-group-item '>QB</li>
    <li routerLink="rb" routerLinkActive="active" class='list-group-item '>RB</li>
    <li routerLink="wr" routerLinkActive="active" class='list-group-item '>WR</li>
    <li routerLink="te" routerLinkActive="active" class='list-group-item '>TE</li>
    <li routerLink="k" routerLinkActive="active" class='list-group-item '>K</li>
    <li routerLink="def" routerLinkActive="active" class='list-group-item '>DEF</li>


</ul>

